* {
    margin: 0;
    /*font-family: 'AuX DotBitC', sans-serif;
    font-family: 'AuX DotBitC Xtra', sans-serif;
    font-family: 'AuX DotBitC Xtra SmallCaps', sans-serif;*/
    font-family: 'AuX DotBitC Xtra Bold', sans-serif;
    text-align: center;    
    color: wheat;
}

body {
    background-color: rgb(41, 41, 41);
}

main, #battleMenu, #inventoryMenu, #shopMenu {
    border: 4mm ridge rgba(186, 194, 42, 0.6);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(29, 29, 29);
}

#battleMenu, #inventoryMenu, #shopMenu {
    display: none;
}

div#grid, div#equipment, div#mostruario {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, auto);
    background-color: rgb(19, 19, 19);
    border: 2px solid black;
}

div#mostruario {
    grid-template-columns: repeat(2, auto);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:  70vh;
}

div#mostruario::-webkit-scrollbar, div#grid::-webkit-scrollbar, div#moblist::-webkit-scrollbar {
    display: none;
}

div.slot {
    width: 10vh;
    height: 10vh;
    border: 1px solid white ;
    border-collapse: collapse;
}

div#mostruario div.slot {
    width: 25vw;
    height: max-content;
}

/* talvez de conflito */
div div img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}

div#mostruario .slot img {
    width: 30%;
}

hr {
    margin: 10px 0;
}

p {
    text-align: left;
}

button {
    display: block;
    margin: 5px auto;
    height: 50px;
    width: 100%;
    background-color: green;
}

button:hover {
    cursor: pointer;
    color: rgb(27, 27, 27);
}

button.back {background-color: red;}
button#battle {background-color: chocolate;}
button#inventory {background-color: green;}
button#shop {background-color: rgba(211, 179, 0, 0.822);}

div#desc {
    display: none;
    position: absolute;
    border: 2mm ridge rgba(186, 194, 42, 0.6);
    padding: 20px;
    background-color: rgb(19, 19, 19);
}
div.barra {
    width: 100%;
    background-color: wheat;
    height: 10px;
    padding: 5px;
    
}
div.barra div#hp {
    background-color: red;
    width: 100%;
    height: 100%;
}
div.barra div#xp {
    background-color: rgb(19, 163, 247);
    width: 0;
    height: 100%;
}

/*mexi no seu css inteiro, mexe denovo por favor*/
div#moblist {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:  70vh;
}
div#moblist div {
    width: max-content;
    height: fit-content;
    border: 2px solid wheat;
    padding: 10px;
    margin-bottom: 10px;
}

div#moblist div:hover {
    cursor: pointer;
}

@media (orientation: portrait) { 
    main, div#inventoryMenu, div#shopMenu {
        width: calc(100vw - 12mm - 20px);
        height: calc(100vh - 12mm - 20px);
    }

    div#grid, div#equipment {
        grid-template-columns: repeat(4, auto);
        align-content: space-evenly;
    }

    div#grid {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height:  50vh;
        align-content: stretch;
    }

    div#grid, div#equipment, div#mostruario {
        justify-items: center;
        align-items: center;
    }

    div.slot {
        width: 19vw;
        height: 19vw;
    }

    div#mostruario div.slot {
        width: 35vw;
    }

    div#mostruario {
        max-height: 75vh;
    }
}